.bg-color-carbonBlue{
	background-color: #00698f!important;
}
.text-carbonblue{
	color: #00698f!important;
}
.navbar-toggler{
	border:0px;
}
.bg-color-carbonBlue .navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.main__title{
	max-width: 650px;
}
.howmuch, .content--top{
	position: relative;
}
.howmuch{
	background-color: #00698f!important;
	padding-top: 8vw;
	padding-bottom: 15vw;
}
.howmuch :after{
	/*url(assets/imgtraingle.svg)*/
	position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    padding-top: 10vw;
    background-image: url(../img/triangle.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
.howmuch h2{
	max-width: 600px;
    float: right;
    font-size: 2.5rem;
    font-weight: 100;
}
.content--top{
	padding-top: 0vw;
	padding-bottom: 4vw;
}
.content--top h2{
	    max-width: 580px;   
    font-size: 2.5rem;
    font-weight: 100;
}
.content--top h5{
	font-weight: 100;
}

.item-body{
	color:#00698f;
}
.item-text{
	height: 80px;
}
.btn-carbon{
	background-color: #00698f!important;
	border:0px;
	border-radius: 0px;
	color:#fff;
}